.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.nav-dropdown-img{
  width: 1.8em;
  height: 1.8em;
}
.dropdown-toggle::after {
  display: none;
}
.main-container-app-nft{
  min-height: 97vh;
}
.tab-swap-token{
  flex-direction: row;
}
.tab-swap-token li button{
  padding: 0.5em !important;
}
.container-card{
  display: flex;
  flex-wrap: wrap;
}
.container-card .link-collection {
  text-decoration: none;
  width: 23%;
}
.container-form .row-form{
  display: flex;
}
.container-form .row-form > label{
  width: 20% !important;
}
.container-form .row-form > input, select, textarea{
  width: 60% !important;
}
.div-btn{
  width: 80% !important;
  display: flex;
  justify-content: flex-end;
}
.pointer-collection{
  cursor: pointer;
}
.container-form .row-file {
  display: flex;
  align-items: center;
}
.container-form .row-file > div{
  display: flex;
  width: 66% !important;
}
.container-form .row-file div > label{
  width: 30% !important;
}
.container-form .row-file div > input{
  width: 55% !important;
}
.card-collection {
  height: 200px !important;
  object-fit: contain;
}
.image-nft-detail{
  height: 300px !important;
}
.card-detail-price{
  height: 255px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-navbar{
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-right: 0.5em;
}